<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="chat-container">
        <div class="chat-header">Chat App</div>

        <ul id="msgList">
            <% for(let i=0; i < chats.length; i++) { %>
                <li><%= chats[i].user %>: <%= chats[i].content %></li>
            <% } %>
        </ul>

        <span id="typing">typing...</span>

        <div class="input-area">
            <input id="startchat" type="hidden" data-roomid="<%= id %>">
            <input type="text" id="username" placeholder="Enter your name...">
            <input type="text" id="newmsg" placeholder="Enter your message...">
            <button id="btn">Send</button>
        </div>
    </div>

    <!-- <h1>Chat box</h1>
    <input id="startchat" type="hidden" data-roomid="<%= id %>"></input>
    <input type="text" id="username" placeholder="username...">
    <input type="text" id="newmsg" placeholder="message...">
    <span id="typing">typing...</span>
    <button id="btn">Send</button>

    <ul id="msgList">
        <% for(let i=0; i < chats.length; i++) { %>
            <li><%= chats[i].user %> : <%= chats[i].content %></li>
        <% } %>
    </ul> -->
    
    <script src="/socket.io/socket.io.js"></script>

    <script>
        var socket = io();

        let startchat = document.getElementById('startchat');

        let receiveTypingId = null;
        let typingId = null;

        let btn = document.getElementById('btn');
        let spanTyping = document.getElementById('typing');
        spanTyping.style.display = 'none';
        let inputMsg = document.getElementById('newmsg');
        let username = document.getElementById('username');
        let msgList = document.getElementById('msgList');

        socket.emit('join_room', {
                roomid: startchat.getAttribute('data-roomid')
        });
        
        btn.onclick = function exec() {
            socket.emit('msg_send', {
                msg: inputMsg.value,
                username: username.value,
                roomid: startchat.getAttribute('data-roomid')
            });
        }

        socket.on('msg_rcvd', (data) => {
            let limsg = document.createElement("li");
            limsg.innerText = `${data.username}: ${data.msg}`;
            msgList.appendChild(limsg);
        });

        socket.on('Someone_typing', (data) => {
            spanTyping.style.display = 'block';
            clearTimeout(receiveTypingId);
            receiveTypingId = setTimeout(() => {
                spanTyping.style.display = 'none'
            }, 200);
        })

        inputMsg.addEventListener('keypress', function (e) {

            socket.emit('typing', {
                roomId: startchat.getAttribute('data-roomid'),
            });
            clearTimeout(typingId);
            typingId = setTimeout(() => {
                spanTyping.style.display = 'none'
            }, 3000);
        })
    </script>
</body>
</html>
